/** =============================================
  * Videokurs Webtechniken lernen   
  * Stylesheet für die Übungswebsite  
  * 
  * Modul content.css 
  * Gestaltung der Inhalte   
  * wird in style.css per @import eingebunden
  =========================================== **/

/** 
  * Linkzustände und externe Links im Inhaltsbereich  
  */  

.site-content a:link { color: var(--linkfarbe-link); }
.site-content a:visited { color: var(--linkfarbe-visited); }
.site-content a:hover, .site-content a:focus { color: var(--linkfarbe-hover-focus); }
.site-content a:active { color: var(--linkfarbe-active); }

.site-content a[target="_blank"]::after { content: "\00A0\2197"; }


/** 
  * Links als Call to Action 
  */  

a.call-to-action {
  display: block; 
  max-width: 10rem; 
  text-decoration: none; 

  padding: 0.5rem 1rem; 
  border: 1px solid currentColor;
  margin-inline: auto; 
}
a.call-to-action:hover, a.call-to-action:focus {
  background-color: var(--akzentfarbe); 
  color: var(--basisfarbe); 
  border: 1px solid var(--akzentfarbe); 
}
a.call-to-action:active {
  background-color: var(--linkfarbe-active); 
  color: var(--basisfarbe); 
  border: 1px solid var(--linkfarbe-active); 
}


/** 
  * Abschnitt Infoboxen 
  */

.infoboxen {
  background-color: var(--hintergrund-hell);
  padding: 3rem 1rem 2rem 1rem;
  margin-block: 2rem;
}
.infobox {
  display: flex;
  flex-flow: column;
  
  text-align: center;
  background-color: var(--basisfarbe);
  padding: 1rem;
  margin-bottom: 1rem;
}
.infobox :last-child {
	margin-top: auto;
}

/** 
  * Abschnitt Kundenstimmen 
  */
.kundenstimme {
  background-color: var(--grau-sehr-hell);
  color: var(--kontrastfarbe); 
  padding: 1rem; 
  border-left: 5px solid var(--akzentfarbe); 
  margin-bottom: 1rem; 
} 


/**
  * Abschnitte auf der Seite Projekte 
  */

.abschnitt-projekte, 
.abschnitt-videokurs-wp-block-editor,
.abschnitt-videokurs-wp-site-editor {    
  padding: 3rem 0; 
  margin: 3rem 0; 
}

.abschnitt-projekte, 
.abschnitt-videokurs-wp-site-editor {
  background-color: var(--hintergrund-hell);
  color: var(--kontrastfarbe);
}
.abschnitt-videokurs-wp-site-editor {
	margin-bottom: -2rem;
}

/* Call to Action im Intro-Bereich */
.call-to-action.fit-content {
  margin-inline: 0; 
  max-width: fit-content;
  background-color: white;
}

 /* Projektliste */  
 ul.projekte { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr)); 
  grid-gap: 1rem; 
  
  list-style: none; 
  padding: 0; 
  margin: 0; 
  margin-top: 2rem;
}

li.projekt { 
  display: flex;
  flex-flow: column;
  text-align: center;
  background-color: var(--basisfarbe);
  color: var(--kontrastfarbe); 
  padding: 2rem 1rem;

}
li.projekt a:last-child {
  margin-top: auto; 
}

/* Ohne Media Query: article mit Bild und Text auf der Projekt-Seite */
.medien-und-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 3rem; 
}

.medien-und-text > * {
    flex: 1 1 20rem; 
}

.abschnitt-videokurs-wp-site-editor .medien-und-text {
    flex-flow: row-reverse; 
}


/* Ende content.css */